# Ignore everything
/*

# But not these files...
!.gitignore
!README.md
!/gtk-3.0/
!/htop/
!/kitty/
!/nvim/
!/polybar/
!/zathura/
!mimeapps.list
!/bspwm/
!/sxhkd/
!.vimrc
!/picom/
!/yazi/
!/Extras/

!Plain-Rice-Blank.png
!Plain-Rice-Floating.png
!Plain-Rice-Casual.png
!Plain Rice.png
