# Ignore everything
/*

# But not these files...
!.gitignore
!README.md
!/gtk-3.0/
!/kitty/
!/nvim/
!/rofi/
!/polybar/
!/zathura/
!mimeapps.list
!/bspwm/
!/sxhkd/
!.vimrc
!/picom/
!/yazi/

!/_Extras/
!/_Rice-Pics/
