# Ignore everything
/*

# But not these files...
!.gitignore
!README.md
!/gtk-3.0/
!/kitty/
!/nvim/
!/rofi/
!/polybar/
!/zathura/
!mimeapps.list
!/bspwm/
!/sxhkd/
!.vimrc
!/picom/
!/yazi/
!/Extras/

!Configuration-Setup.png
!Empty-Screen.png
!Floating-Window-Demo.png
!Notetaking.png
