#!/bin/bash
# Interactive Checker
[[ $- != *i* ]] && return

# ------[Aliases]------
alias ls='eza -l' # Better version of ls
alias grep='grep --color=auto' # Prettier grep
alias adam='setxkbmap -option caps:swapescape' # For normal keyboard use
alias ramiel='setxkbmap -option' # For split ergomech usage
alias nv="nvim"
alias v='source ~/documents/envs/env_runner.sh' # Venv selector for Python
alias n='dunstctl set-paused toggle && echo "Paused:" && dunstctl is-paused' # Toggle Notifications
alias z="bash ~/.config/zathura/zathura-toggle-theme.sh" # Toggle color theme for Zathura
alias cc="cd ~/.local/share/chezmoi/"
alias cn="cd ~/documents/notes/"
alias cb="cd ~/documents/bookshelf/"

# ------[Functions (Jobs)]------
# Run Job 
rj() {
    src="$1"
    bin="${src%.cpp}"
    clang++ -Wall -std=c++11 "$src" -o "$bin.out" && ./"$bin.out"
}

# ------[Prompt]------
PS1='\[\e[1m\]{{- index (splitList " " .fullname) 0 | lower -}}\[\e[0m\]-\[\e[1;94m\]\h\[\e[0m\] \[\e[1;32m\][\W]\[\e[0m\]: '

# ------[Change GOPATH]------
export GOPATH=$HOME/.go_workspace

# ------[Show Fetch]-----
catnap

