return {
  "goolord/alpha-nvim",
  dependencies = {
    "nvim-tree/nvim-web-devicons",
    "nvim-lua/plenary.nvim",
  },
  config = function()
    local theta = require "alpha.themes.theta"
    local dashboard = require "alpha.themes.dashboard"
    theta.file_icons.provider = "devicons"
    table.remove(theta.buttons.val, 6) -- Remove Broken Config Button
    table.remove(theta.buttons.val, 3) -- Remove New-File Button
    -- Add Shortcut to Chezmoi Configuration File
    table.insert( 
      theta.buttons.val,
      dashboard.button("c", "  Configuration", "<cmd>edit ~/.local/share/chezmoi/README.md<CR>")
    )
    {{ if eq .fullname "Hudson Liu" }}
    table.insert(
      theta.buttons.val,
      dashboard.button("e", "󱉟  Notes", "<cmd>edit ~/documents/notes/personal/goals.md<CR>")
    )
    {{ end }}
    theta.header.val = {
      "                                                    ",
      " ███╗   ██╗███████╗ ██████╗ ██╗   ██╗██╗███╗   ███╗ ",
      " ████╗  ██║██╔════╝██╔═══██╗██║   ██║██║████╗ ████║ ",
      " ██╔██╗ ██║█████╗  ██║   ██║██║   ██║██║██╔████╔██║ ",
      " ██║╚██╗██║██╔══╝  ██║   ██║╚██╗ ██╔╝██║██║╚██╔╝██║ ",
      " ██║ ╚████║███████╗╚██████╔╝ ╚████╔╝ ██║██║ ╚═╝ ██║ ",
      " ╚═╝  ╚═══╝╚══════╝ ╚═════╝   ╚═══╝  ╚═╝╚═╝     ╚═╝ ",
      "            (Configuration by Hudson Liu)           ",
    }
    require("alpha").setup(theta.config)
  end,
}
