return {
  "lervag/vimtex",
  ft = { "tex" },
  init = function()
    vim.g.tex_flavor = "latex"
    vim.g.vimtex_quickfix_mode = 0
    vim.g.vimtex_view_method = "zathura"
    vim.opt.conceallevel = 1
    vim.g.tex_conceal = "abdmg"
    vim.g.vimtex_compiler_latexmk = {
      {{ if eq .fullname "Hudson Liu"}}
      out_dir = "/home/j/documents/notes/latex_build/",
      {{ end }}
      options = { -- deletes default dictionary
        "--shell-escape",
        "-verbose",
        "-file-line-error",
        "-synctex=1",
        "-interaction=nonstopmode",
        "-f",
      },
    }
    vim.g.vimtex_compiler_latexmk_engines = {
      _ = "-xelatex",
    }
  end,
}
